<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="description" content="Budget">
    <meta name="keywords" content="List, budget, yearly budget, monthly budget css, HTML">
    <meta name="author" content="Joar Warholm, Daniel Lindeberg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BudgetProject</title>
    <script src="https://unpkg.com/vue@3" defer></script>
    <script src="script.js" defer></script>
</head>

<body>
    <header>
        <h1>Budget</h1>
    </header>
    <main>
        <section id="userInput">
            Year:
            <select class="year" v-model="yearInput">
                <option disabled value="">Select Year</option>
                <option v-for="option in data" :value="option.value">
                    {{ option.year }}
                </option>
            </select>
            Month:
            <select class="months" v-model="monthInput">
                <option disabled value="">Select Month</option>
                <option v-if="data[0]" v-for="obj in data[0].month" :value="obj.value">
                    {{ obj.name }}
                </option>
            </select>
            <p>Selected: {{ monthInput }}</p>
            <p>Year is: {{ yearInput }}</p>
            <ul>
                <li v-if="data[yearInput]" v-for="obj in data[yearInput].month[monthInput].categories">
                    <div>{{ obj.type }} </div>

                    <input v-model.number="obj.cost" type="number"> $
                </li>
            </ul>
            <button>Save</button>
        </section>
        Remaining income: 
        <p v-if="data[0]">
            {{ remainingMonthlyIncome(yearInput, monthInput) }} $
           

        </p>
        Monthly expenses :
        <p v-if="data[0]">
            {{ monthlyExpenses(yearInput, monthInput) }} $
        </p>


        Yearly expenses :
        <p v-if="data[0]">
            {{ yearlyExpenses(yearInput, monthInput) }} $
        </p>
    </main>

</body>

</html>